:root {
    --background-color: #f8e88a;
    --background-color-gradient: linear-gradient(to top right, #edd157, #f8e88a);
    --sheet-background-color: #fefdfa;
    --sheet-background-color-gradient: linear-gradient(to bottom right, #fefdfa, #f4f3ec);
    --primary-color: #737944;
    --secondary-color: #d3cec0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    background-image: var(--background-color-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-sheet-container {
    min-width: 500px;
    min-height: 700px;
    background-color: var(--sheet-background-color);
    background-image: var(--sheet-background-color-gradient);
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#nav-bar {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    top: 10px;
}

#menu-icon {
    width: 50px;
    height: 50px;
}

#blank-container {
    flex-grow: 2;
}

#icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-icons {
    width: 30px;
    height: 30px;
}